@import '../base/listas';

/*FOOTER*/
footer{
    background: linear-gradient( nth($color-logo , 2 ),nth($color-logo , 3 ),);
    width: 100%;
    display: flex;
    align-items: center;
    height: 250px;

    ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 310px;
        height: 230px;
        margin: auto auto;

        li{
            display: flex;
            margin: 3px;
            width: 90%;
            height: 35px;
            /*------------ MEDIA QUERIES SMARTPHONE -----------*/
            @media only screen and (max-width: 400px){
                .email{
                    font-size: 6px;
                }
            }
            a{
                display: flex;
                width: 100%;
                padding: 2px;
                text-decoration: none;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 14px;
                color: nth($color-logo , 3 );
                
                /*------------ MEDIA QUERIES SMARTPHONE -----------*/

                @media only screen and (max-width: 400px){
                    font-size: 10px;
                }

                img{
                    height: 100%;
                    width: auto;
                    margin-right: 20px;
                }
            }
            a:hover{
                color: nth($color-logo , 1 );
            }
        }
    }
}