/*FOOTER*/
footer{
    background: linear-gradient(rgb(213, 213, 231), rgb(99, 80, 206));
    width: 100%;
    display: flex;
    align-items: center;
    height: 250px;
}
footer ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 310px;
    height: 230px;
    margin: auto auto;
}
footer ul li{
    display: flex;
    margin: 3px;
    width: 90%;
    height: 35px;
}
footer ul li a{
    display: flex;
    width: 100%;
    padding: 2px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
}
footer ul li a img{
    height: 100%;
    width: auto;
    margin-right: 20px;
}
footer ul li a:hover{
    color: red;
}
/*------------ MEDIA QUERIES SMARTPHONE -----------*/

@media only screen and (max-width: 400px){

    /*FOOTER*/
    footer ul li a{
        font-size: 10px;
    }
}